:root {
  --branco-principal: #ffffff;
  --vermelho-principal: #8e2424;
  --vermelho-secundario: rgba(195, 25, 25, 0.3);
  --preto-principal: #000000;
  --cinza-escuro: #3a404e;
  --cinza-claro: #667085;
  --cinza-bordas: #EAECF0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--branco-principal);
  width: 100vw;
}

a {
  text-decoration: none;
}

p {
  color: var(--cinza-claro);
}

button {
  height: 44px;
  border-radius: 8px;
  border: none;
  padding: 10px 18px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

/* Cabeçalho - Dia 01 de 07 */

.menu {
  height: 80px;
  padding: 0px 32px;
}
.menu__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.menu__links li {
  list-style: none;
}

.menu a {
  color: var(--cinza-claro);
  letter-spacing: 1.5px;
}

.menu__botao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn {
  background-color: var(--branco-principal);
  color: var(--cinza-claro);
}

.btn--vermelho {
  background-color: var(--vermelho-principal);
  color: var(--branco-principal);
}

/* Seção Cabeçalho - Dia 02 de 07  */

.cabecalho {
  padding: 96px 30px;
  text-align: center;
}

.cabecalho__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  max-width: 792px;
}

.cabecalho__container span {
  color: var(--vermelho-principal);
  font-weight: bold;
  font-size: 1rem;
}

.cabecalho__container h1 {
  font-size: 3rem;
  padding: 0 32px;
}

.cabecalho__container p {
  padding-top: 12px;
  font-size: 1.25rem;
  /* max-width: 792px; */
}

/* Seção Métricas - Dia 03 de 07  */

.metricas {
  padding-bottom: 96px;
}

.metricas__container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0 auto;
  width: 90%;
}

.metricas__item {
  width: 300px;
  text-align: left;
}

.metricas__item span {
  color: var(--vermelho-principal);
  font-size: 3.75rem;
  font-weight: 700;
}

.metricas__item h3 {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 8px;
}

/* Seção com imagem - Dia 04 de 07  */

.vagas {
  text-align: center;
  padding: 96px 0;

  display: flex;
  flex-direction: column;
  gap: 64px;
}

.vagas__talentos {
  margin: 0 auto;

}

.vagas__talentos span {
  color: var(--vermelho-principal);
  background-color: #f9f4f4;
  padding: 5px;
  border-radius: 16px;
  font-weight: bold;
  font-size: smaller;
}

.vagas__talentos h2 {
  font-size: 36px;
  margin: 16px 0;
}

.vagas__talentos p {
  font-size: 20px;
}

.vagas__talentos img {
  margin-top: 3rem;
  width: 80%;
}

/* Seção de vagas - Dia 05 de 07  */

.vagas__container {
  text-align: left;
  margin: 0 auto;
  /* width: 768px; */
  min-width: 55%;
  padding: 0 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.vagas__container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.vagas__card {
  border: solid 1px var(--cinza-bordas);
  border-radius: 10px;
  padding: 24px 24px 28px 24px;
}

.vagas__titulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 32px;
}

.vagas__detalhes span {
  color: var(--cinza-claro);
  margin-right: 24px;
}


/* Seção de Depoimentos - Dia 06 de 07  */

.depoimentos__container {
  background-color: #FDF8F8;
  border-radius: 16px;
  padding: 64px;
  text-align: center;
  margin: 0 auto 96px;
  width: 90%;
}

.depoimentos__span {
  color: var(--vermelho-principal);
  font-weight: bold;
}

.depoimentos__container h1 {
  margin-top: 16px;
  font-size: 2.25rem;
}

.depoimentos__card {
  margin-top: 32px;
}

.depoimentos__card img {
  margin-bottom: 16px;
}

.depoimentos__card h4 {
  margin: 4px;;
}

.depoimentos__card span {
  color: var(--cinza-claro);
  font-size: 14px;
}